<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <ion-radio id="home-radio2">Radio</ion-radio>
      <label class="item item-input" id="home-input2" name="email">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <button id="home-button7" class="button button-positive button-block">Tap me!</button>
    </form>
  </ion-content>
</ion-view>